!!!
/
   
  This site is intended to clarify the difference
  between the terms “App Store” and “Apple Store”, because
  apparently, a lot of people still can’t figure out which is which.
   
  Also, people still use “iTouch” instead of “iPod touch”, but that’s another story…
   
%head
  %meta{ :charset => "UTF-8" }
  %title App Store or Apple Store?
  %meta{ :name => "author", :content => "Rémi Prévost (@remi)" }
  %meta{ :name => "viewport", :content => "width=device-width" }
  %link{ :rel => "icon", :href => image_path("/favicon.png"), :type => "image/png" }
  %link{ :href => "http://fonts.googleapis.com/css?family=Carter+One", :rel => :stylesheet, :type => "text/css" }
  %link{ :rel => :stylesheet, :href => stylesheet_path("screen.css"), :type => "text/css" }
  <script type="text/javascript">var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-9062654-5']); _gaq.push(['_trackPageview']); (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();</script>
%body
  #wrap
    %section#app
      .content
        %h1
          %span If you can buy <em>applications</em>,
          %span you are in an <em>App Store</em>.
        %img{ :src => image_path("app-store.png"), :alt => "Screenshot of the iOS App Store" }
        %blockquote
          %p “Our application is now available on the <del>Apple</del> <ins>App</ins> Store.”
    %section#apple
      .content
        %h1
          %span If you can buy <em>hardware</em>,
          %span you are in an <em>Apple Store</em>.
        %img{ :src => image_path("apple-store.jpg"), :alt => "Photo of the Ste-Foy Apple Store in Quebec City" }
        %blockquote
          %p “Yesterday, I bought an iPhone 4 at the <del>App</del> <ins>Apple</ins> Store.”
  #footer
    %p Another useful-but-not-so-much project by <a href="http://exomel.com">@remi</a>.
