!!!
%head
  %title App Store or Apple Store?
  %link{ :rel => :stylesheet, :href => "screen.css", :type => "text/css" }
  %link{ :href => "http://fonts.googleapis.com/css?family=Carter+One", :rel => :stylesheet, :type => "text/css" }
%body
  #wrap
    %section#app
      .content
        %h1
          %span If you can buy <strong>applications</strong>,
          %span you are in an <strong>App Store</strong>.
        %img{ :src => "img/app-store.png", :alt => "Screenshot of the iOS App Store" }
        %blockquote
          %p “Our application is now available in the <del>Apple</del> <ins>App</ins> Store.”
    %section#apple
      .content
        %h1
          %span If you can buy <strong>hardware</strong>,
          %span you are in an <strong>Apple Store</strong>.
        %img{ :src => "img/apple-store.jpg", :alt => "Photo of the Ste-Foy Apple Store in Quebec City" }
        %blockquote
          %p “Yesterday, I bought an iPhone 4 at the <del>App</del> <ins>Apple</ins> Store.”
